body {
  margin: 0;
  padding: 0;

}

.Cursor {
  pointer-events: none;
  position: fixed;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  background-color: #a4a4a4;
  transform-origin: center center;
  top: 0;
  left: 0;
  z-index: 1000;
  filter: url("#goo");
  z-index: 9999; 
  /* mix-blend-mode: difference; */
}

.Cursor span {
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  background-color: #a4a4a4;
  transform-origin: center center;
  transform: translate(-50%, -50%);
  z-index: 9999; 
}
