html {
    font-family: helvetica, arial, sans-serif;
  }
  
  h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    column-span: all;
  }
  
  h2 {
    font-size: 1.2rem;
    color: rgb(113, 78, 119);
    letter-spacing: 1px;
  }
  
  p {
    line-height: 1.5;
    break-after: column;
  }
  
  article {
    column-width: 200px;
    gap: 20px;
  }
  
  .fit-picture {
    width: 200px;
  }